<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<section class="is-info is-small">
    <div class="row columns is-desktop">
        <div class="column">
            <div class="card large">
                <header class="card-header">
                    <p class="card-header-title">
                        Manage Speakers Information
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>