<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<section class="is-info is-small">
    <div class="row columns is-desktop">
        <div class="column">
            <div class="card large">
                <header class="card-header">

                    <p class="card-header-title">
                        Adding Speaker Information
                    </p>
                </header>
                <!-- {{ newSpeakerForm.value | json }} -->
                <div class="card-content">
                    <form [formGroup]="newSpeakerForm" class="content" (ngSubmit)="onSubmit()">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Avatar</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="row">
                                        <figure class="image is-128x128">
                                            <img class="is-rounded" [src]="avatarImage">
                                        </figure>
                                    </div>
                                    <div class="row file">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="avatar-file"
                                                formControlName="avatar"
                                                (change)="handleFileInput($event.target.files)">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    Choose a file…
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"><span style="color:red">*</span>Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" formControlName="name">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Subtitle</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" formControlName="subtitle">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"><span style="color:red">*</span>Skills</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control" style="margin-bottom: 0rem;">
                                        <input class="input" type="text" formControlName="skill">
                                    </p>
                                    <p class="control">
                                        <button class="button" type="button" (click)="addSkill()"
                                            [disabled]="!newSpeakerForm.get('skill').valid">Add</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal add-result" *ngIf="(newSpeakerForm.value.skills).length">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <table class="table is-bordered is-striped">
                                    <tbody>
                                        <tr *ngFor="let skill of newSpeakerForm.value.skills">
                                            <td width="5%" (click)="delSkill(skill)"><i class="fa fa-times"></i></td>
                                            <td>{{ skill }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Experience</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control" style="margin-bottom: 0rem;">
                                        <input class="input" type="text" formControlName="experience">
                                    </p>
                                    <p class="control">
                                        <button class="button" type="button" (click)="addExperience()"
                                            [disabled]="!newSpeakerForm.get('experience').valid">Add</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal add-result" *ngIf="(newSpeakerForm.value.experiences).length">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <table class="table is-bordered is-striped">
                                    <tbody>
                                        <tr *ngFor="let experience of newSpeakerForm.value.experiences">
                                            <td width="5%" (click)="delExperience(experience)"><i
                                                    class="fa fa-times"></i></td>
                                            <td>{{ experience }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Introduction</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <textarea class="textarea" rows="3" formControlName="introduction"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Remark</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <textarea class="textarea" rows="3" formControlName="remark"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="buttons">
                                        <button class="button is-success" type="submit"
                                            [disabled]="!newSpeakerForm.valid">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>