<div class="app">
    <app-navbar></app-navbar>

    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-2">
                <app-side-menu></app-side-menu>
            </div>
            <div class="column is-10">
                <section class="hero is-primary is-small">
                    <div class="hero-body">
                        <div class="container no-padding">
                            <h1 class="title">
                                Speaker Pool Management System
                            </h1>
                            <h2 class="subtitle">
                                Let the speaker pool bigger 😀
                            </h2>
                        </div>
                    </div>
                </section>
                <router-outlet>
                </router-outlet>
            </div>
        </div>
    </div>

    <app-footer-bar></app-footer-bar>
</div>