<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">23</p>
                <p class="subtitle">Skills</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">59</p>
                <p class="subtitle">Speakers</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">12</p>
                <p class="subtitle">Conferences</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">91</p>
                <p class="subtitle">Meetups</p>
            </article>
        </div>
    </div>
</section>
